main {
   display: block;
   //animation: fadeIn 250ms 1s both;

   &[data-lightbox-is-open='true'] {
      display: none;
   }
}

.cardWrapper {
   $container: calc(99vw - (calc($grid-columns - 1) * $outer-border));
   $column-gaps: calc($container - ($card-layout-width * $grid-columns));

   animation: fadeIn 450ms 600ms;

   > .duo {
      position: absolute;
      top: 50%;
      left: 45%;
   }

   .imgMedia {
      width: 350px;
      height: 300px;
      border-radius: 5px;
   }
}

.sort {
   &__wrapper {
      font-size: $text__18;
      font-weight: bold;
      position: absolute;
      display: flex;
      justify-content: space-between;
      width: 300px;
   }

   &__options {
      z-index: 10;
      display: flex;
      overflow: hidden;
      align-items: start;
      flex-flow: column nowrap;
      width: 180px;
      height: 40px;
      padding: 1px 5px;
      transition: height 450ms;
      color: $white;
      border-radius: 5px;
      background-color: $primary;

      p {
         position: relative;
         display: block;
         width: 100%;
         height: 40px;
         padding-top: 10px;
         transition: opacity 550ms ease-in-out;

         &[data-hidden='true'] {
            opacity: 0;
         }

         &:hover {
            //background-color: $secondary;
            cursor: pointer;
         }
      }

      &--icon {
         font-size: 24px;
         position: absolute;
         z-index: 15;
         top: 10px;
         right: 10px;
         transition: rotate 350ms ease-in-out;
         color: white;
      }

      &[data-dropped='true'] {
         /*display: block;*/
         height: 120px;
         box-shadow: 2px 3px 5px $gray;

         p {
            opacity: 1;

            &:not(:last-of-type) {
               &:after {
                  position: absolute;
                  bottom: -5px;
                  left: 0;
                  width: 100%;
                  content: '';
                  border-top: 1px white solid;
               }
            }
         }

         .sort__options--icon {
            rotate: 180deg;
         }
      }
   }
}

.hero-banner {
   display: grid;
   width: 100%;
   height: 300px;
   padding: 24px 50px;
   //margin: 0 100px;
   animation: fadeIn 350ms 500ms both;
   background-color: #fafafa;
   grid-template-columns: 1fr 1fr 1fr;

   .portrait {
      margin: 0;
      justify-self: right;
   }
}

.header {
   &__information {
      display: flex;
      align-items: start;
      //justify-content: space-evenly;
      flex-direction: column;
      height: 100%;
   }

   &__title {
      /*card__link__title text__xxl clr__secondary*/
      font-size: $text-_64;
      margin: 0;
      color: $secondary;
   }

   &__location {
      /*text__l clr__primary*/
      font-size: $text__24;
      color: $primary;
   }

   &__tagline {
      /*text__m clr__dark*/
      font-size: $text__18;
      color: $dark;
   }
}

.contact_button {
   font-size: 20px;
   //align-self: center;
   font-weight: bold;
   width: 170px;
   height: 70px;
   padding: 11px;
   cursor: pointer;
   animation: fadeIn 350ms 800ms both;
   color: white;
   border: none;
   border-radius: 5px;
   background-color: #901c1c;
   margin-inline: auto;
}

#contact_modal {
   position: fixed;
   top: 0;
   left: 0;
   display: none;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   animation: fadeIn 300ms;
   background-color: rgba(250, 250, 250, 70%);
}

.modal__inner {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   width: min(700px, 50vw);
   height: 80vh;
   margin: auto;
   border-radius: 5px;
   background-color: $primary__alt;
   padding-inline: 30px;
   gap: 35px;

   header {
      justify-content: space-between;
      width: 100%;

      #closeModal {
         font-size: 64px;
         cursor: pointer;
         color: $white;
      }

      h2 {
         font-size: 64px;
         font-weight: normal;
         text-align: center;
      }
   }

   form {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      margin: auto;
      gap: 10px;

      label {
         font-size: 36px;
         display: block;
         color: #312e2e;
      }

      input,
      textarea {
         width: 100%;
         height: 68px;
         resize: none;
         border: none;
         border-radius: 5px;
      }
   }
}

.card__information {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 15px;

   &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &[data-is-liked='true'] {
         i {
            color: $secondary--alt;
         }
      }
   }

   &__title,
   &__likes {
      font-size: $text__24;
      color: $primary;
   }

   &__icon {
      font-size: 24px;
      margin-left: 5px;
      cursor: pointer;
      transition: opacity, color, transform 350ms ease-in-out;
      color: $primary;

      &:active {
         animation: navigation 450ms ease-in-out;
      }

      &:hover {
         transform: scale(1.05);
         opacity: 0.6;
         color: $secondary;
      }
   }
}

.photographer__aside {
   font-size: $text__24;
   position: fixed;
   right: 100px;
   bottom: 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 350px;
   animation: fadeIn 400ms 600ms both;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   background-color: $primary__alt;
   padding-inline: 30px;
   padding-block: 15px;

   .aside__wrapper {
      display: flex;
      gap: 5px;
   }

   i {
      width: 18px;
      height: 18px;
      margin-left: 5px;
   }
}

.imgPhotographer {
   width: 200px;
   height: 200px;
   margin-bottom: 20px;
   border-radius: 100%;
   object-fit: cover;
   object-position: center;
   margin-inline: auto;
}

.imgMedia {
   object-fit: cover;
   object-position: top;
   margin-inline: auto;
}

.portrait {
   width: 200px;
   height: 200px;
   border-radius: 100%;
   object-fit: cover;
   object-position: center;
   margin-inline: auto;
}

.likeIcon {
   width: 18px;
   height: 18.5px;
}

.lightbox {
   position: absolute;
   top: 0;
   left: 0;
   display: none;
   width: 100vw;
   height: 100vh;
   animation: fadeIn 350ms 100ms;
   background-color: $white;

   &[data-open='true'] {
      display: block;
   }

   &__container {
      position: relative;
      width: 80%;
      height: 80%;
      //background-color: pink;
      margin-top: 5%;
      margin-inline: auto;
   }

   &__title {
      font-size: $text__24;
      position: relative;
      bottom: -50px;
      left: 0;
      display: block;
      color: $primary;
   }

   //todo border-radius lightbox and header and shadow img media lightbox

   &__media-wrapper {
      display: flex;
      overflow: hidden;
      flex-flow: column nowrap;
      justify-content: center;
      width: 100%;
      height: 100%;

      .imgMedia {
         //visibility: hidden;
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: center;

         &[data-visible='true'] {
            visibility: visible;
         }
      }
   }

   i.fa-solid {
      font-size: $text__64;
      position: absolute;
      cursor: pointer;
      color: $primary;
      $offset: 60px;

      &.fa-angle-right,
      &.fa-angle-left,
      &.fa-xmark {
         transition: color 350ms;

         &:active {
            animation: navigation 450ms 100ms ease-in-out;
            color: $dark;
         }

         &:hover {
            transition: color 350ms;
            color: $dark;
         }
      }

      &.fa-angle-right {
         top: 50%;
         right: $offset;
      }

      &.fa-angle-left {
         top: 50%;
         left: $offset;
      }

      &.fa-xmark {
         top: $offset;
         right: $offset;
      }
   }
}

.focusNavigation {
   animation: navigation 250ms ease-in-out;
   color: $primary;
}

@keyframes navigation {
   0%,
   60%,
   100% {
      scale: 100%;
   }
   40% {
      scale: 60%;
   }
   80% {
      scale: 110%;
   }
}

@keyframes fadeIn {
   from {
      opacity: 0;
      animation-timing-function: ease-in;
   }
   to {
      opacity: 1;
      animation-timing-function: ease-out;
   }
}

/**
  * Duo
  *
  * @author jh3y - jhey.dev
*/
.duo {
   align-self: center;

   &:before {
      display: block;
      width: 50px;
      height: 50px;
      content: '';
      -webkit-animation: spin 0.5s infinite linear;
      animation: spin 0.5s infinite linear;
      border-width: 6px;
      border-style: solid;
      border-top-color: $primary;
      border-right-color: $secondary;
      border-bottom-color: $primary;
      border-left-color: $secondary;
      border-radius: 100%;
   }
}

@-webkit-keyframes spin {
   to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
   }
}

@keyframes spin {
   to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
   }
}
