#contact_modal {
   //display: none;
}

.photograph-header {
   background-color: #fafafa;
   height: 300px;
   margin: 0 100px;
}

.contact_button {
   font-size: 20px;
   font-weight: bold;
   color: white;
   padding: 11px;
   width: 170px;
   height: 70px;
   border: none;
   background-color: #901c1c;
   border-radius: 5px;
   cursor: pointer;
}

#contact_modal {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   display: none;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   background-color: rgba(250, 250, 250, 70%);
}

.modal__inner {
   padding-inline: 30px;
   border-radius: 5px;
   background-color: $primary__alt;
   width: min(700px, 50vw);
   height: 80vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 35px;
   margin: auto;

   header {
      justify-content: space-between;
      width: 100%;

      img {
         cursor: pointer;
      }

      h2 {
         font-size: 64px;
         font-weight: normal;
         text-align: center;
      }
   }

   form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
      gap: 10px;
      margin: auto;

      label {
         display: block;
         color: #312e2e;
         font-size: 36px;
      }

      input,
      textarea {
         resize: none;
         width: 100%;
         height: 68px;
         border: none;
         border-radius: 5px;
      }
   }
}

.photographer__aside {
   position: fixed;
   bottom: 0;
   right: 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 350px;
   background-color: $primary__alt;
   font-size: $text__24;
   padding-inline: 30px;
   padding-block: 15px;

   img {
      margin-left: 5px;
      width: 18px;
      height: 18px;
   }
}
