@import 'normalize.css';
@import 'base';
@import 'templateClasses';
@import 'Photographer.scss';




//region Style.css

body > header,
body > main {
   margin-inline: $outer-border;
}

header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   height: 70px;
   margin-top: 2vw;
   margin-bottom: 0;
}



h1 {
   margin-right: 70px;
}

.logo {
   //height: 50px;
   height: 50px;
   margin-left: 70px;
}

.photographer_section,
.media_section {


   //.card {
   //   display: block;
   //   width: 325px;
   //
   //   &__link {
   //      display: flex;
   //      justify-content: center;
   //      align-items: center;
   //      flex-direction: column;
   //
   //      &__portrait {
   //         height: 200px;
   //         width: 200px;
   //         border-radius: 100%;
   //         object-fit: cover;
   //         object-position: center;
   //         margin-inline: auto;
   //         margin-bottom: 20px;
   //      }
   //
   //      &__title {
   //         color: $secondary;
   //         font-size: 36px;
   //      }
   //   }
   //
   //   &__information {
   //      &__item {
   //         text-align: center;
   //         margin-block: 3px;
   //
   //         &--location {
   //            font-size: 13px;
   //            color: $primary;
   //         }
   //
   //         &--tagLine {
   //            font-size: 10px;
   //            color: $dark;
   //         }
   //
   //         &--price {
   //            font-size: 9px;
   //            color: $gray;
   //         }
   //      }
   //   }
   //}
}

// endregion
