.flex {
   display: flex;
   flex-wrap: wrap;

   &__col {
      flex-direction: column;
   }

   &__row {
      flex-direction: row;
   }
}

.block {
   display: block;
}

.alignCenter {
   align-items: center;
}

.justifyBetween {
   justify-content: space-between;
}

.justifyCenter {
   justify-content: center;
}

.selfCenter {
   align-self: center;
}

.cardWrapper {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 70px;
   row-gap: 70px;
   margin-block: 70px;
}

.fullSpace {
   width: 100px;
   height: 100px;
}


.text {
   &__xxl {
      font-size: $text__64;
   }

   &__xl {
      font-size: $text__36;
   }

   &__l {
      font-size: $text__24;
   }

   &__m {
      font-size: $text__18;

      %--alt {
         font-size: $text__20;
      }
   }

   &__sm {
      font-size: $text__13;
   }

   &__xs {
      font-size: $text__10;

      &--alt {
         font-size: $text__09;
      }
   }
}

.clr {
   &__primary {
      color: $primary;
   }

   &__secondary {
      color: $secondary;
   }

   &__gray {
      color: $gray;
   }

   &__white {
      color: $white;
   }

   &__dark {
      color: $dark;
   }
}
.gap{
   &__sm{
      gap:6px
   }
   &__m {
      gap:12px
   }
   &__l{
      gap:24px
   }
}
.cardLayout {
   width: 355px;
   height: 340px;
}
